<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        <% if (user) { %>
          <form class="nav-item" method="POST" action="/logout" style="position:absolute; right: 50px; top: 13px">
            <label>Logged in as: <%=user.email%></label>
            <button class="btn btn-outline-dark" type="Submit">Logout</button>
          </form>
          <% } else { %>
          <form class="nav-item" method="GET" action="/register" style="position:absolute; right: 150px; top: 13px">
            <button class="btn btn-primary" type="Submit">Register</button>
          </form>
          <form class="nav-item" method="GET" action="/login" style="position:absolute; right: 50px; top: 13px">
            <button class="btn btn-primary" type="Submit">Login</button>
          </form>
        <% } %>
    </div>
    </div>
  </nav>
</header>